/target/

# Eclipse
.classpath
.settings
.project

\.DS_Store

output\.csv

outputSFV\.csv

tests2/
tests3/
*.bak
build\.xml
build/built-jar\.properties
build/
nbproject/
lib/nblibraries\.properties
manifest\.mf
lib/CopyLibs/org-netbeans-modules-java-j2seproject-copylibstask\.jar
dist/
/JSpellDictionary/nbproject/private/
/JSpellDictionary/build/
/JSpellDictionary/dist/
babelfy.var.properties
babelnet.var.properties
configurations.ini

# Netbeans
nbactions.xml

outputsyns\.csv
.factorypath
.vscode/settings.json
.vscode/launch.json

CSVDataset\.csv
FicherosDataset_17\.12\.18/outputsyns_old\.csv
outputsyns_mini\.csv
WEKADatasetWithComments\.arff
outputsyns_\.csv
*.arff
outputs/
sms-spam-collection/
spamassassin_corpus/
trec2007/

