/target/

# Eclipse
.classpath
.settings
.project

\.DS_Store

output\.csv

outputSFV\.csv

tests2/
*.bak
build\.xml
build/built-jar\.properties
build/
nbproject/
lib/nblibraries\.properties
manifest\.mf
lib/CopyLibs/org-netbeans-modules-java-j2seproject-copylibstask\.jar
dist/
/JSpellDictionary/nbproject/private/
/JSpellDictionary/build/
/JSpellDictionary/dist/

# Netbeans
nbactions.xml


outputsyns\.csv

