[twitter]
ConsumerKey = your_ConsumerKey
ConsumerSecret = your_ConsumerSecret
AccessToken = your_AccessToken
AccessTokenSecret = your_AccessTokenSecret

[youtube]
APIKey = your_api_key

[csv]
CSVSep = ;

[eml]
PartSelectedOnMPAlternative = text/plain

